
    <header class="header">
      <div class="logo">
      {% set url = logo.field_media_image.entity.fileuri|image_style('large') %}
        <a href="#"><img src="{{url}}" alt="Logo" /></a>
      </div>
      <nav class="navbar">
        <ul>
      {% for item in menu_items %}
        <li>
          <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
      </nav>
    </header>
 
