.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px; /* Increased padding for more height */
  background-color: white; /* Transparent background initially */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: opacity 0.3s ease; /* Smooth transition for background */
  height: 100px;
  opacity: 0.5;
}

.header:hover {
  opacity: 1; /* Background changes to white on hover */
}

.header:hover ul:hover li a:hover {
  color: #53b789;
}

.header:hover ul:hover li a {
  color: rgba(83, 183, 137, 0.5);
}

.logo img {
  height: 50px; /* Adjust as needed */
}

.navbar {
  flex: 1;
  display: flex;
  justify-content: center;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu li a {
  text-decoration: none;
  color: #123270;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 5px; /* Space for the underline effect */
  transition: color 0.3s ease, border-bottom 0.3s ease; /* Smooth hover transition */
}

.menu li a:hover {
  border-bottom: 2px solid #53b789; /* Underline on hover */
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar {
    justify-content: flex-start;
    width: 100%;
  }

  .menu {
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .menu li a {
    font-size: 16px;
  }
}
