.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px; /* Increased padding for more height */
  background-color: white; /* Transparent background initially */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease; /* Smooth transition for background */
  height: 100px;
  opacity: 0.5;
  position: fixed;
  width: 100vw;
  z-index: 999;
}

.header:hover {
  opacity: 1; /* Background changes to white on hover */
}

.header:hover ul:hover li a:hover {
  color: #53b789;
}

.header:hover ul:hover li a {
  color: rgba(83, 183, 137, 0.5);
}

.logo img {
  height: 50px; /* Adjust as needed */
}

.custom-navbar {
  flex: 1;
  display: flex;
  justify-content: center;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu li a {
  text-decoration: none;
  color: #123270;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 5px; /* Space for the underline effect */
  transition: color 0.3s ease, border-bottom 0.3s ease; /* Smooth hover transition */
}

.menu li a:hover {
  border-bottom: 2px solid #53b789; /* Underline on hover */
}

.menu-toggle {
  display: none;
}
/* Mobile Styles */
@media (max-width: 768px) {
  .menu-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1100; /* Above menu */
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
  }
  .menu {
    display: none;
    flex-direction: column;
    gap: 15px;
    position: absolute;

    background-color: #333;
    padding: 15px;

    background-color: white;
    width: 100%;
    top: 101%;
    right: 0px;
  }

  #mobile-menu.active {
    right: 0; /* Slide menu into view */
  }
  .menu.show {
    display: flex;
  }
}
